* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Noto Sans", sans-serif;
  color: #eee;
}

.app {
  width: 100%;
  height: 100vh;
  background-color: #2d3036f8;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.app::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/background-way.jpg");
  background-repeat: repeat;
  background-size: 300px;
  transform: rotate(-20deg);
  opacity: 0.5;
  z-index: -1;
  scale: 1.5;
}

.title {
  padding: 80px 0 20px 0;
}

.subtitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.autoclickerCount {
  padding: 5px;
  background-color: #353746;
  border-radius: 5px;
  color: #c4c4c5;
  display: flex;
  gap: 1px;
  justify-content: center;
  align-items: center;
  cursor: default;
  user-select: none;
}

.btnBlock {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #292b38;
  border: 1px solid #3d3d3d;
  padding: 8px 10px;
  font-size: 18px;
  margin: 5px 3px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  transition: 0.1s ease;

  &:hover {
    background-color: #2f3246;
  }

  &[disabled] {
    background-color: #40414d;
    color: #b3b3b3;
    cursor: not-allowed;
  }
}

.btnSettings {
  font-size: 20px;
}

.btnAutoclicker {
  font-size: 22px;
}
